.row {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.column {
    background-color: #515151;
    color: white;
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 200;
    flex: 50%;
    padding: 10px;
}

.total.center {
    color: white;
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 200;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input.beginning {
    text-align: center;
    margin-top: 70px;
    background-color: black;
    border: black;
    color: cyan;
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 200;
    font-size: 100%;
    min-width: 0;
    outline: none;
}
